/* @tailwind base;	disabled to avoid conflicts with mantine */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

:root {
	--primary: #0072f5;
	--secondary: #9750dd;
	--success: #17c964;
	--warning: #f5a524;
	--error: #f31260;
	--gradient: linear-gradient(
		112deg,
		#06b7db -63.59%,
		#ff4ecd -20.3%,
		#0072f5 70.46%
	);

	--nav-height: 3rem;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Electrolize', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
