.container {
    position: absolute !important;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    .container {
        top: calc(var(--nav-height) + 1rem)
    }
}